*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/* banner */
.banner{
    min-height: 100vh;
    background-image: url(/img/back-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    /* background-color: #333; */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
  li:last-child{
      float: right !important;
  }

  .text-box{
      text-align: center;
      margin-top: 330px;
      color: red;
      font-size: 30px;
  }

  .btn{
    padding: 14px 65px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    margin-top: 7px;
    outline: none !important;
    background-color: #9c9797;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .buttom-text-box{
    width: 400px;
    color: gray;
    margin: auto;
    text-align: left;
    padding: 7px;
    display: none;
  }
  .buttom-text-box h2{
    text-align: center;
  }